<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hora del Servidor</title>
</head>

<body>

    <h5>Una página para comprobar que el servidor funciona</h5>

    <p>
        Y ya puestos en materia, comprobar que da la hora de la máquina.
    </p>

    <p>
        Son las: {{ reloj }}
    </p>
</body>

</html>